body {
    background-color:#d6dbdf;
}

div {
    border: 0px;
}

a {
    display: inline-block;
}

object{
    pointer-events: none;
}

ul{
    list-style: none;
    padding-left: 0px;
}

#background{
    margin-top: 5%;
    height : 80%;
}

.main-box{
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 25%;
    margin-right: 25%;
    height: 100%;
}

.sub-box{
    padding-left: 10px;
}


#head{

}

#body{

}

#tail{

}

#date{
    border-radius: inherit;
}

h2#ymd{
    margin-bottom: 0px;
    color: #2E2E2E;
}

p#day{
    margin-top: 5px;
    color: gray;
}

#remainder{
    color: #04B486;
    
}


