body {
    background-color: darkgray;
}

div {
    border: 1px solid white;
}

a.rm, a.rm:nth-child(1) {
    visibility: hidden;
}

a.rm>img {
    opacity: 0.3;
}

a.rm>img:hover {
    opacity: 1.0;
    fill: #ffffff;
}


